.container {
  display: flex;
  flex-direction: row;
  gap: 8px;
  justify-content: space-between;
  align-items: center;
  .label {
    font-size: 12px;
    line-height: 20px;
    color: #aaaaaa;
  }
  .value {
    display: flex;
    flex-direction: row;
    gap: 4px;
    background-color: #212121;
    padding: 2px;
    border-radius: 8px;
  }
  .button {
    width: 67px;
    height: 32px;
  }
}
