.container {
  display: flex;
  flex-direction: row;
  gap: 8px;
  justify-content: space-between;
  align-items: center;

  .label {
    font-size: 14px;
    color: #888;
    margin-bottom: 4px;
  }
}
